@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />

<p>09.03.2019 - Создание</p>
<p>12.03.2019 - Добавление Базы Данных</p>
<p>16.03.2019 - Добавление поиска и постаничного вывода</p>
<p>18.03.2019 - Добавление детального представления</p>